<div class="main-container">
<div class="input-group">
    <div class="form-control">
        <label>Origin</label>
        <input id="origin" type="text" >
    </div>
    <div class="form-control">
        <label>Destination</label>
        <input id="destination" type="text" >
    </div>
</div>
<div class="button-group"> 
    <button (click)="calculateAndDisplayRoute('BICYCLING')">Directions bike</button>
    <button (click)="calculateAndDisplayRoute('DRIVING')">Directions car</button>
    <button (click)="calculateAndDisplayRoute('WALKING')">Directions walk</button>
  </div>
</div>
