//VARIABLES
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200&family=Fondamento&display=swap");
$lightslategray: #7788994d;
$darkgray: #a9a9a9;
$primary: #3465eb;
$secondary: #c3dbff8c;

$tabs-font: "Changa", sans-serif;
$team-font: "Changa", sans-serif;
