//VARIABLES
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&family=Fondamento&display=swap');
$lightslategray: #7788994d;
$darkgray: #A9A9A9;
$primary: #2e3575;
$secondary: #505050;

$tabs-font: 'Changa', sans-serif;
$team-font: 'Changa', sans-serif;