
<app-search-bar *ngIf="!isDirectionsBarToggled; else directionsBar"></app-search-bar>
<div class="map-container" >

<div #map id="mapDiv" class="map" ></div>


 
  <app-info-window></app-info-window>

  </div>

 <div class="action-footer">
    <button *ngIf="isDirectionsBarToggled" class="button" (click)="toggleDirectionsBar()">
        <i class="fa fa-chevron-left"></i>
    </button>
       <button *ngIf="!isDirectionsBarToggled" class="button" (click)="toggleDirectionsBar()" >
            <i class="fa fa-diamond-turn-right"></i>Directions
        </button>
    <ng-template #directionsBar>
        <app-directions-bar></app-directions-bar>
    
    </ng-template>

    <button (click)="toggleMapStyle()" class="button">Style</button>
    <button (click)="resetMap()" class="button">Reset Map</button>

 </div> 
