
<app-search-bar *ngIf="!isDirectionsBarToggled; else directionsBar"></app-search-bar>


<div #map id="mapDiv" class="map" ></div>

<div id="infoWindowDiv">
    <span >{{currentPlace?.icon}}</span>
    <br />
    <span class="title">{{currentPlace?.name}}</span><br />
    <span >{{currentPlace?.formatted_address}}</span>
  </div>

 <div class="action-footer">
    <button *ngIf="isDirectionsBarToggled" class="button" (click)="toggleDirectionsBar()">
        <i class="fa fa-chevron-left"></i>
    </button>
       <button *ngIf="!isDirectionsBarToggled" class="button" (click)="toggleDirectionsBar()" >
            <i class="fa fa-diamond-turn-right"></i>Directions
        </button>

    <ng-template #directionsBar>
        <app-directions-bar></app-directions-bar>
    
    </ng-template>
    <button (click)="resetMap()" class="button">Reset Map</button>

 </div> 
