<div class="main-container">
    <div class="form-control">
        <label >Source:</label>
        <input #search type="text">
    </div>
    <div class="form-control">
        <label >Destination:</label>
        <input #autocomplete2 type="text">
    </div>
</div>

<div #map style="width:400px;height:400px"></div>

<div #infowindowContent>
    <span #placeName class="title"></span><br />
    <span #placeAddress></span>
  </div>
  <div>
      <button (click)="calculateAndDisplayRoute()">Directions</button>
  </div>